
.container{
    background-color: #F0ECE8;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5%;
}

.experts{
    position: relative;
    z-index: 2;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.experts>h3{
    color: #FB6340;
    font-family: 'Calistoga';
    font-size: 1.9rem;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagenes{
    width: 100%;
    height: 75%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}


.disciplines{
    width: 100%;
    height: 55%;
    border: 1px solid salmon;
}