.container {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0ece8;
  position: relative;
}
.container > svg {
  position: absolute;
  bottom: 0;
}
.text,
.img {
  width: 50%;
  height: 100%;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.img {
  display: flex;
  justify-content: center;
  position: relative;
}
.img > img {
  position: absolute;
  top: -15%;
  right: 15%;
  z-index: 2;
}
.title {
  width: 45%;
  font-size: 2.2rem;
  /* font-family: 'Alike'; */
  /* font-family: 'Domine', serif; */
  font-family: 'Calistoga', cursive;
}
.text > p {
  width: 45%;
  font-size: 1.25rem;
  text-align: left;
  margin-left: 10%;
}
button {
  background-color: rgba(251, 99, 64, 1);
  border: none;
  color: white;
  font-family: 'Alike';
  padding: 15px 35px;
  border-radius: 5px;
  font-size: 1.4rem;
  margin-right: 13.5%;
  margin-top: 1%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.text > button:hover {
  transform: scale(1.01);
}
.text > button:active {
  transform: scale(0.99);
}
